<!--<form autocomplete="on">-->
<!--    <div class="mb-3">-->
<!--        <label for="sign-up-login-input" class="form-label">Login</label>-->
<!--        <input type="email" class="form-control" id="sign-up-login-input"-->
<!--               [(ngModel)]="registrationData.login" name="sign-up-login"-->
<!--               autocomplete="username">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label for="sign-up-password-input" class="form-label">Password</label>-->
<!--        <input type="password" class="form-control" id="sign-up-password-input"-->
<!--               [(ngModel)]="registrationData.password" name="sign-up-password"-->
<!--               autocomplete="new-password">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label for="sign-up-password-repeat-input" class="form-label">Repeat password</label>-->
<!--        <input type="password" class="form-control" id="sign-up-password-repeat-input"-->
<!--               [(ngModel)]="passwordRepeat" name="sign-up-password-repeat"-->
<!--               autocomplete="new-password">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary mb-3">Submit</button>-->
<!--    <a routerLink="/login" class="link-primary d-block">sign in</a>-->
<!--</form>-->

<div class="login-form-container">
    <h1 class="login-form-header">SIGN UP</h1>
    <form class="login-form" autocomplete="on" (submit)="register()">
        <div>
            <input type="email" class="form-control login-form-input"
                   [(ngModel)]="registrationData.login" name="sign-in-login" #loginModel="ngModel"
                   autocomplete="username" placeholder="Login" required
                   [class.is-invalid]="showErrors && !loginModel.valid"
                   (input)="onInput($event, loginModel, passwordModel, passwordRepeatModel)">
            <div class="validation" *ngIf="showErrors && loginError">
                {{loginError}}
            </div>
        </div>
        <div>
            <input type="password" class="form-control login-form-input"
                   [(ngModel)]="registrationData.password" name="sign-in-password" #passwordModel="ngModel"
                   autocomplete="new-password" placeholder="Password" required
                   [class.is-invalid]="showErrors && !passwordModel.valid"
                   (input)="onInput($event, loginModel, passwordModel, passwordRepeatModel)">
            <div class="validation" *ngIf="showErrors && passwordError">
                {{passwordError}}
            </div>
        </div>
        <div>
            <input type="password" class="form-control login-form-input"
                   [(ngModel)]="passwordRepeat" name="sign-in-password" #passwordRepeatModel="ngModel"
                   autocomplete="current-password" placeholder="Repeat password" required
                   [class.is-invalid]="showErrors && !passwordRepeatModel.valid"
                   (input)="onInput($event, loginModel, passwordModel, passwordRepeatModel)">
            <div class="validation" *ngIf="showErrors && passwordError">
                {{passwordRepeatError}}
            </div>
        </div>
        <div class="validation" *ngIf="showErrors && validationError">
            {{validationError}}
        </div>
        <button type="submit" class="btn btn-primary mb-3 login-button"
                [disabled]="isRegistering">
            <span *ngIf="isRegistering" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Sign up
        </button>
        <a routerLink="/login" class="link-primary d-block bottom-link">Sign in</a>
    </form>
</div>
