<div class="login-form-container">
    <h1 class="login-form-header">SIGN UP</h1>
    <form class="login-form" autocomplete="on" (submit)="register()">
        <div>
            <input type="email" class="form-control login-form-input"
                   [(ngModel)]="registrationData.login" name="sign-in-login" #loginModel="ngModel"
                   autocomplete="username" placeholder="Login" required
                   [class.is-invalid]="showErrors && (!loginModel.valid || loginError)"
                   (input)="onInput($event, loginModel, passwordModel, passwordRepeatModel)">
            <div class="validation" *ngIf="showErrors && loginError">
                {{loginError}}
            </div>
        </div>
        <div>
            <input type="password" class="form-control login-form-input"
                   [(ngModel)]="registrationData.password" name="sign-in-password" #passwordModel="ngModel"
                   autocomplete="new-password" placeholder="Password" required
                   [class.is-invalid]="showErrors && (!passwordModel.valid || passwordError)"
                   (input)="onInput($event, loginModel, passwordModel, passwordRepeatModel)">
            <div class="validation" *ngIf="showErrors && passwordError">
                {{passwordError}}
            </div>
        </div>
        <div>
            <input type="password" class="form-control login-form-input"
                   [(ngModel)]="passwordRepeat" name="sign-in-password-repeat" #passwordRepeatModel="ngModel"
                   autocomplete="new-password" placeholder="Repeat password" required
                   [class.is-invalid]="showErrors && (!passwordRepeatModel.valid || passwordRepeatError)"
                   (input)="onInput($event, loginModel, passwordModel, passwordRepeatModel)">
            <div class="validation" *ngIf="showErrors && passwordRepeatError">
                {{passwordRepeatError}}
            </div>
        </div>
        <div class="validation text-center" *ngIf="showErrors && validationError">
            {{validationError}}
        </div>
        <button type="submit" class="btn btn-primary mb-3 login-button"
                [disabled]="isRegistering">
            <span *ngIf="isRegistering" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Sign up
        </button>
        <a routerLink="/login" class="link-primary d-block bottom-link">Sign in</a>
    </form>
</div>
